/* Esta es la hoja de estilos para la pagina web */

h1{
    color: red;
}

/* Aqui se le cambia el color a los h1 titulo grande a rojo */

h3{
    color: chartreuse;
}


#mitituloes{
    color: grey;
}
/* aqui sse cambia de color utilizando una identificacion id */

.titulo3{
    color: burlywood;
}
/* se le coloca un color para esta clase que dirige a un titulo */

.tabla{
    border: solid 1px red;
}
/* se le agrego un borde a una tabla */